.primary[disabled],.outline[disabled]{
  opacity: 0.5;
  pointer-events: none;
}
.button{
  text-align: center;
  align-items: center;
  justify-content: center;
  outline: none;
  display: flex;
}
.primary, .primary:focus {
  background: var(--G500,#03AC0E) radial-gradient(circle,transparent 1%,var(--G500,#03AC0E) 1%) center/15000%;
  /* background-color: var(--primary-color); */
  border: 0.0625rem solid var(--primary-color);
  width: 151px;
  height: 40px;
  border-radius: 8px;
  color: var(--white-color);
  font-weight: 500;
}

.primary:not(:disabled):hover {
  /* background-color: var(--secondary-color); */
  background: var(--G500,#03AC0E) radial-gradient(circle,transparent 1%,var(--G500,#03AC0E) 1%) center/15000%;
  border-color:var(--primary-color);
  cursor: pointer;
}

.outline,.outline:focus{
  background-color: var(--white-color);
  border: 0.0625rem solid var(--primary-color);
  width: 151px;
  height: 40px;
  border-radius: 8px;
  color: var(--primary-color);
  font-weight: 500;
}

.outline:not(:disabled):hover {
  border-color:var(---primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

@media only screen and (max-width: 48em) {
 
}
