.root {
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 1, 0.075);
  border-radius: 0.75rem;
  margin: auto;
  max-width: 31.25rem;
  padding: 1.5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 48em) {
  .root {
    margin: 0 1rem;
    max-height: 80vh;
    overflow-y: auto;
    padding: 1rem;
  }
}
