.root > header > img:first-child {
  height: 100px;
}

.root > h1 {
  /* font-size: 1.75rem; */
  /* font-weight: 800; */
  line-height: 1.2;
  margin-bottom: 12px;
  text-align: center;
}

.root > p {
  /* color: #000; */
  line-height: 1.6;
  text-align: center;
}

.root > footer {
  display: flex;
  margin-top: 32px;
}

.root > footer > a {
  flex: 1;
}
.root > footer > button {
  flex: 1;
}
.root > footer > button:first-child {
  margin-right: 0.75rem;
}

.root > footer > a:first-child {
  margin-right: 1.25rem;
}

@media only screen and (max-width: 48em) {

}
