.wrapper{
  max-width: 500px;
  margin: 40px auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.cardContent img{
  width: 100%;
}
.desc{
  padding: 8px;
}
.cardItem{
  max-width:230px;
  height: auto;
  width: 49%;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
  border-radius: 9px;
  margin-bottom: 12px;
}
.headline{
  margin-bottom: 12px;
  margin-top: 12px;
}
.headline h3, .desc p{
  color: var(--black-color);
}
.desc h4{
  color: var(--text-color);
}
.loadMore{
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 48em) {
  
}
